body {
    width: 99vw;
    /* height: 100vh; */
    font-family: 'Inter';
}

:root {
    /* Colors */
    --main-brand-color: #4263EB;
    --secondary-brand-color: #364FC7;
    --grey-800: #212529;
    --grey-700: #495057;
    --grey-600: #868E96;
    --black-500: #0A0C0D;
    --white-500: #FFFFFF;
    --grey-200: #DEE2E6;
    --grey-100: #F8F9FA;
    --grey-opacity: rgba(33, 37, 41, 0.5);
    --color-like: #D7443E;

    /* Fonts */
    --title1: 1.75rem;
    --title2: 1.25rem;
    --text1: 1rem;
    --text2: 0.875rem;
    --text3: 0.75rem;

    /* Border-radius */
    --border-radius: 4px;

    /* Inputs */
    --input-post-padding: 1rem 1.25rem;
    --input-post-height: 3.25rem;

    /* Buttons */
    --button-post-width: 4.31rem;
    --button-post-height: 2.37rem;

}

button {
    width: var(--button-post-width);
    height: var(--button-post-height);
    background-color: var(--main-brand-color);
    color: var(--white-500);
    border: 2px solid var(--border-radius);
    border-radius: var(--border-radius);
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-brand-color);
}

.userData {
    height: 3.25rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
}

/* .userData>figure {} */

.userData>figure>img {
    width: 3.4rem;
    display: flex;
    object-fit: cover;
}

.userData>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    height: 100%;
}

.userData>div>p {
    font-size: var(--title2);
    font-weight: 600;
    color: var(--grey-800);
}

.userData>div>small {
    font-size: var(--text2);
    font-weight: 400;
    color: var(--grey-700);
}

#modalControl {
    width: 80%;
    border: transparent;
    border-radius: calc(var(--border-radius)*2);
}

#modalControl::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
}